.container {
  max-width: 980px;
}

h1, h2 {
  font-family: 'Curly Font';
}

h1 {
  font-size: 55px;
  margin-bottom: 40px;
}

p, button {
  font-family: 'Adriane';
}

nav {
  font-family: 'Sans Serif';
}
