.wishlist-item {
  max-width: 650px;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
  margin-bottom: 30px;
}

.wishlist-item .alert {
  font-family: 'Adriande';
  display: inline-block;
}

.wishlist-item .alert button {
  margin-left: 0;
}

.wishlist-item .alert button:hover {
  color: inherit;
}

.wishlist-item .item-links {
  font-family: 'Sans Serif';
}

.wishlist-item .thumbnail {
  margin-top: 20px;
  padding: 0;
  background-color: transparent;
  border: none;
}

.wishlist-item .thumbnail > img {
  border-radius: 50%;
}

.wishlist-item button {
  margin-left: 30px;
  padding: 3px 6px;
  font-size: 12px;
  color: #fff;
  border-color: #fff;
  background: transparent;
}

.wishlist-item button:hover,
.wishlist-item button[disabled]:hover,
.wishlist-item button[disabled]:focus,
.wishlist-item button:focus,
.wishlist-item button:active {
  border-color: #fff;
  background-color: transparent;
  color: #fff;
}

.wishlist-item .item-links {
  margin-top: 20px;
}

.wishlist-item .item-links > a {
  background-color: #fbfbfb;
  color: #333;
  font-weight: normal;
  margin-right: 10px;
}

.wishlist-item .item-links > a:hover {
  background-color: #fbfbfb;
}
